doctype html 
html 
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width,initial-scale=1")
    title /customer page
    link(rel="preconnect", href="https://fonts.gstatic.com")
    link(href="https://fonts.googleapis.com/css2?family=Arvo&display=swap", rel="stylesheet")
    link(rel="stylesheet", href="/stylesheet/css/bootstrap.min.css")
    link(rel="stylesheet", href="/stylesheet/style.css")
    link(rel="stylesheet", href="/static/all.css")
  body
    .customerPage
      .container
        .text-center.mb-5
          a(href="index")
            img.rounded.mt-5(src="images/logo3.PNG", alt, style="height: 60px; width: 60px")
          h2.mt-2 Hello
        .row
          .col-sm-6
            a.link-dark(href="customerSchedulePickUp")
              .card.border-success.mb-5(style="width: 75%")
                .card-body
                  .text-center.mb-3
                    i.fas.fa-truck.text-success.display-1
                  h5.card-title.text-center Schedule Pickup
          .col-sm-6
            a.link-dark(href)
              .card.border-success.mb-5(style="width: 75%")
                .card-body
                  .text-center.mb-3
                    i.fas.fa-user.text-success.display-1
                  h5.card-title.text-center Profile
        .row
          .col-sm-6
            a.link-dark(href)
              .card.border-success.mb-5(style="width: 75%")
                .card-body
                  .text-center.mb-3
                    i.fas.fa-history.text-success.display-1
                  h5.card-title.text-center History
          .col-sm-6
            a.link-dark(href)
              .card.border-success.mb-5(style="width: 75%")
                .card-body
                  .text-center.mb-3
                    i.fas.fa-envelope-open-text.text-success.display-1
                  h5.card-title.text-center Messages
    script(src="js/bootstrap.bundle.js")
    script(src="/static/all.js")