.row
  .col-12
    footer.text-light.text-center.text-lg-start(style="background-color: rgb(39, 37, 37)")
      //  Grid container 
      .container.p-4
        // Grid row
        .row
          // Grid column
          .col-lg-6.col-md-12.mb-4.mb-md-0
            img.d-inline-block.align-top(src="../images/logo3.PNG", alt, width="60px", height="60")
            h5.text-uppercase Gabarecycle
            p
              | Gabarecycle is a cost effective web based application for SmartClean NGO that provides garbage management services as well as latrine and septic Tank emptying services to residential areas around Kampala.


              br
              br
              em Visit Us:
              br
              | StayClean 1st Floor Muyenga Community Service

              br
              | Plot 1977/245

              br
              | Kironde Road,Muyenga

              br
              | Kampala, Uganda


          // Grid column
          // Grid column
          .col-lg-3.col-md-6.mb-4.mb-md-0
            h5.text-uppercase navigate site
            ul.list-unstyled.mb-0
              li
                a.text-white.footerlink(href="index") Home
              li
                a.text-white.footerlink(href="aboutus") About Us
              li
                a.text-white.footerlink(href="#!") Services
              li
                a.text-white.footerlink(href="contact") Contact Us
          // Grid column
          // Grid column
          .col-lg-3.col-md-6.mb-4.mb-md-0
            h5.text-uppercase.mb-0 Drop us a line
            p.
              
              We always love to hear from you. Contact us from the section below.
              
            form
              //  Name input 
              .form-outline.mb-4
                input#form4Example1.form-control(type="text")
                label.form-label(for="form4Example1") Name
              //  Email input 
              .form-outline.mb-4
                input#form4Example2.form-control(type="email")
                label.form-label(for="form4Example2") Email address
              //  Message input 
              .form-outline.mb-4
                textarea.form-control#form4Example3(rows="4")
                label.form-label(for="form4Example3") Message
              //  Checkbox 
              .form-check.d-flex.justify-content-center.mb-4
                input.form-check-input.me-2#form4Example4(type="checkbox", checked)
                label.form-check-label(for="form4Example4").
                  
                  Send me a copy of this message
                  
              //  Submit button 
              button.btn.btn-success.btn-block.mb-4(type="submit").
                
                Send
                
          // Grid column
        // Grid row
      //  Grid container 
      //  Copyright 
      .text-center.p-3(style="background-color: rgba(0, 0, 0, 0.2)")
        p
          em Gabarecycle 2021 images:
          a.legal-link(href="https://www.freepik.com/?__hstc=57440181.d015967c9076614fc296f3b350bbdf81.1558954754717.1558954754717.1558954754717.1&__hssc=57440181.23.1558954754717&__hsfp=1065412370", target="_blank")
            em Freepik
        | © 2021 Copyright:


        a.text-white(href="https://mdbootstrap.com/") DintonHarold.com
      //  Copyright 