meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width,initial-scale=1")
title /register Truck
link(rel="preconnect", href="https://fonts.gstatic.com")
link(href="https://fonts.googleapis.com/css2?family=Arvo&display=swap", rel="stylesheet")
link(rel="stylesheet", href="css/bootstrap.min.css")
link(rel="stylesheet", href="style.css")
.regTruck(style="padding-top: 60px")
  .container
    .row
      .col-lg-3
      .col-lg-6
        #ui
          h2.text-light.text-center Register Truck
          form.text-center(action)
            .mb-3
              label.form-label.text-light(for="gender") Truck Type
              select.form-select(aria-label="Default select example")
                option(selected) Sewage Truck
                option(value="1") Garbage Truck
            .mb-3
              label.form-label.text-light(for="nin") Truck Code Number
              input.form-control(type="text", placeholder="truck code number")
            .mb-3
              label.form-label.text-light(for="nin") Truck Registration Number
              input.form-control(type="text", placeholder="reg number")
            .text-center
              a(href="dashboard.html")
                button.btn.btn-success.me-4(type="button").
                  
                  Back
                  
              button.btn.btn-success(type="submit") Submit
      .col-lg-3
script(src="js/include.js")
script(src="js/bootstrap.bundle.js")