doctype html
html
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width,initial-scale=1")
    title Sign Up
    link(rel="preconnect", href="https://fonts.gstatic.com")
    link(href="https://fonts.googleapis.com/css2?family=Arvo&display=swap", rel="stylesheet")
    link(rel="stylesheet", href="/stylesheet/css/bootstrap.min.css")
    link(rel="stylesheet", href="/stylesheet/login.css")
  body 
    //  navigation bar 
    include navbar.pug
    div(style="margin-top: 100px")
      .container
        .row
          .col-12.col-md-7.col-lg-6
            h1.login-title.text-center.mb-5.text-success.
              
              Sign up to Gabarecycle
              
            form.form-container(action="/signUp" method="POST" name="signUpForm" onsubmit="return validation()")
              .mb-3
                label.form-label(for="name") Name
                input.form-control(type="text", placeholder="name", name="name")
              .mb-3
                label.form-label(for="exampleFormControlInput1") Email address
                input.form-control(type="email", placeholder="name@example.com", name="email")
              .mb-3
                label.form-label(for="userRole") User role
                select.form-select(aria-label="Default select example" name="role")
                  option(selected value="admin") Admin
                  option(value="client") Client
              .mb-3
                label.form-label(for="phone") Phone number
                input.form-control(type="tel", placeholder="+256-xxx-xxxxxx", name="telephone")
              .mb-3
                label.form-label(for="pwd") Password
                input.form-control(type="password", placeholder="create password", name="password")
              .mb-3
                label.form-label(for="password").
                  
                  Confirm Password
                input.form-control(type="password", placeholder="confirm password", name="confirmPassword")
              .extra.mb-3
                .form-check
                  input.form-check-input#tick(type="checkbox" onchange="document.getElementById('terms').disabled = !this.checked;")
                  label.form-check-label(for="RememberPassword")
                    | I agree to Gabarecycle's


                    a.app-link.link-success(href="#") Terms of Service
                    | and


                    a.app-link.link-success(href="#") Privacy Policy
                    | .

              .text-center
                button.btn.btn-success(type="submit" name="terms" id="terms" disabled) Sign Up
            .text-center.pt-5
              | Already have an account?


              a.text-link.link-success(href="login") Log in
          .col-12.col-md-5.col-lg-6
            .login-background(style="margin-top: 95px")
    //  footer  
    include footer.pug
    script(src="js/include.js")
    script(src="js/bootstrap.bundle.js")
    script(src="js/signUp.js") 